@model SGEP.Models.Funcionario

@{
    ViewData["Title"] = "Editar Funcionário";
    ViewData["classe-coluna"] = (!Model.Demitido) ? "col-md-4"
                                                  : "col-md-6";
}

<h2 style="text-align:center; padding-top:30px">Editar Funcionário</h2>

<hr />
<div class="row justify-content-center">
    <div class="@ViewData["classe-coluna"]">
        <form asp-action="Edit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control squareborder" type="hidden" />
                <input placeholder='@("FUN-" + Model.Id)' class="form-control squareborder" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control squareborder" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control squareborder" required />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                <a class="btn btn-danger squareborder" role="button" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
    @if (!Model.Demitido)
    {
        <div class="col-md-4 border-left">
            <form asp-action="Demitir">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input asp-for="Nome" type="text" hidden />
                <input asp-for="Cargo" type="text" hidden />
                <input asp-for="Demitido" type="text" hidden />
                <div class="form-group">
                    <p class="text-danger">ATENÇÃO: Esta ação não poderá ser desfeita</p>
                    <input type="submit" value="Demitir funcionário" class="btn btn-secondary squareborder" />
                </div>
            </form>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
