@model SGEP.Models.Material

@{
    ViewData["Title"] = "Editar Material";
}

<h2 style="text-align:center; padding-top:30px">Editar Material</h2>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Quantidade" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control squareborder" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <select asp-for="Unidade" id="uniselect" onchange="showunity()" class="browser-default form-control mb-4 squareborder">
                    <option selected="selected">Selecionar unidade...</option>
                    
                    <option id="outro" value="other">Outro...</option>
                </select>

                <div class="col-lg-6" id="addunidade" style="margin-top:0" hidden>
                    <label class="control-label">Nome da unidade</label>
                    <input type="text" class="form-control squareborder" id="campo_nome_unidade" placeholder="Nome da unidade" />
                    <label class="control-label">Tipo da unidade</label>
                    <input type="text" class="form-control squareborder" id="campo_abbr_unidade" placeholder="Tipo da unidade" />
                    <input type="button" class="btn btn-success squareborder" value="Adicionar unidade" onclick="addUnidadade()" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                <a class="btn btn-danger squareborder" role="button" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript" src="~/js/scripts.js"></script>