@model Material
<div class="container-fluid" style="align: center">
  <h2>Cadastrar Material</h2>
  <form class="" action="index.html" method="post">
    <label asp-for="Material.Nome"></label>
    <input type="text" name="" value="" placeholder="Insira o nome...">
    <label for="Material.Unidade"></label>
    <input type="text" name="" value="" placeholder="Insira o tipo de unidade...">
    <label for="Material.Preco">Preço</label>
    <input type="text" name="" value="" placeholder="Insira o preço unitário...">
  </form>
</div>
