@model SGEP.Models.ParticipaProjeto

@{
    /*ViewBag.funcionariosFora = from f in funcionarios
                               from ppfId in participandoId
                               where f.Id != ppfId
                               select f;*/
    IEnumerable<Funcionario> funcionarios = (IEnumerable<Funcionario>)ViewData["funcionariosFora"];
} 
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Id)*@Código do funcionário
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Nome)*@Nome
                </th>
            </tr>
        </thead>
        <tbody id="lista">
            @foreach (var item in funcionarios)
            {
                <tr onclick="liberarClick(@item.Id)" data-toggle="list">
                    <td>
                        FUN-@Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                </tr>
            }
        </tbody>
    </table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
