@model ProjetoCreateViewModel

@{
    ViewData["Title"] = "Criar Projeto";
}

<h2 style="text-align:center; padding-top:30px">Adicionar Projeto</h2>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" autocomplete="off" id="fp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control squareborder" placeholder="Nome do projeto..." />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input id="data_init" asp-for="DataInicio" class="form-control squareborder" placeholder="Data inicial do projeto" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrazoEstimado" class="control-label"></label>
                <input id="data_est" asp-for="PrazoEstimado" class="form-control squareborder" placeholder="Data de finalização do projeto..." />
                <span asp-validation-for="PrazoEstimado" class="text-danger"></span>
            </div>
            <!--div class="form-group">
                <input type="submit" id="cadastrar" value="Adicionar" class="btn btn-success squareborder" />
                <a asp-action="Index"> <input type="button" value="Cancelar" class="btn btn-danger squareborder" /></a>
            </div-->
            <script type="text/javascript">

                const init = document.getElementById("data_init");
                const est = document.getElementById("data_est");

                init.addEventListener('input', setMin);
                est.addEventListener('input', setMax);

                function setMin()
                {
                    est.min = init.value;
                }

                function setMax()
                {
                    init.max = est.value;
                }

            </script>
            @await Html.PartialAsync(CaminhoPartialView.BOTOES_FORMULARIO)
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync ("_ValidationScriptsPartial");}
}