
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div class="row">
    <span>Placeholder do switch: </span>
    <input type="checkbox" class="form-check-input" id="switch" onclick="trocarElementos('switch', 'aloca', 'compra')">
</div>

<div id="aloca">@await Component.InvokeAsync("CreateAlocacao")</div>
<div id="compra" hidden="hidden">@await Component.InvokeAsync("CreateCompra")</div>

<script type="text/javascript" src="~/js/switch-toogle.js"></script>