
@{
    ViewData["Title"] = "Create";
}

<h2 style="text-align:center; padding-top:30px">Adicionar Movimentação</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary squareborder active">
                    <input type="radio" name="options" id="tipo-mov-entrada" autocomplete="off" checked> Entrada
                </label>
                <label class="btn btn-primary squareborder">
                    <input type="radio" name="options" id="tipo-mov-saida" autocomplete="off"> Saída
                </label>
            </div>
        </div>
        <div id="saida" hidden="hidden">@await Component.InvokeAsync("CreateAlocacao")</div>
        <div id="entrada">@await Component.InvokeAsync("CreateCompra")</div>
    </div>
</div>

<script type="text/javascript" src="~/js/switch-toogle.js"></script>
