@model SGEP.Models.MovimentacaoAlocacao

@{ 
    IEnumerable<Material> materiais = (IEnumerable<Material>)ViewData[Chaves.MATERIAIS];
}

<form asp-action="ComprarMaterial" asp-controller="Movimentacoes">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <input asp-for="Data" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Material</label>
        <select asp-for="MaterialMovimentado" class="browser-default form-control mb-4 squareborder">
            <option value="" disabled selected>Selecionar funcionário...</option>
            @foreach (Material m in materiais)
            {
                <option value="@m.Id">@m.Descricao</option>
            }
        </select>
        <span asp-validation-for="MaterialMovimentado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantidade" class="control-label"></label>
        <input asp-for="Quantidade" class="form-control" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>
    @await Html.PartialAsync(CaminhoPartialView.BOTOES_FORMULARIO)
</form>

<script>
var today = new Date();
var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
</script>

